{% extends 'shop/basic.html' %}

{% block title%}{% endblock %}
{% block body %} 

<div class="col-lg-8">
    <h1>Contact Us</h1>
<form class="form-group" action="#" method="post">

    <label>Name</label>
    <input type="text" class="form-control mb-2" placeholder="name" name="Name">    
    <label>Email</label>
    <input type="text" class="form-control mb-2"  placeholder="Email" name="email">    
    <label>Phone Number</label>
    <input type="number" class="form-control mb-2"  placeholder="Phone Number" name="number">    
    <label>Message</label>
    <textarea class="form-control mb-2"  name="message" cols="20" rows="5"></textarea>
    <br>
    <input type="submit" class="btn btn-primary" value="SUBMIT">
</form>
</div>
{% endblock %}